.booking-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top:5%;
}

.booking-form input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  font-size: 1rem;
}

.booking-form .error {
  color: red;
  margin-top: -8px;
  margin-bottom: 8px;
  font-size: 0.85rem;
}

button {
  padding: 10px 20px;
  background-color: #008080;
  color: white;
  border: none;
  cursor: pointer;
}
.payment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.payment-modal {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.payment-modal input,
.payment-modal select,
.payment-modal button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
}

.cancel-btn {
  background: #ccc;
  color: #333;
  margin-top: 5px;
}
h5{
  color:rgb(75, 150, 211)
}
